:root {
  --element-bg-color: rgba(10,10,10,.55);
}

.App {
  text-align: center;
}

form {
  margin-top:  15px;
}

input[type="text"] {
  background-color: var(--element-bg-color, rgba(10,10,10,.5)) !important;
  color: #EEE;
  border: 0;
  border-radius: 5px;
}

input, button {
  margin-top: 5px;
}

form input:focus {
  box-shadow: none !important;
  color: white !important;
}

::-webkit-input-placeholder {
  color: white !important;
}
::-moz-placeholder {
  color: white !important;
}
:-ms-input-placeholder {
  color: white !important;
}
:-moz-placeholder {
  color: white !important;
}

.weather-data {
  display: inline-block;
  min-width: 320px;
  background-color: var(--element-bg-color, rgba(10,10,10,.5));
  margin: 25px 0 50px 0;
  padding: 10px;
  border-radius: 10px;
}

.weather-data h1 {
  font-size: 1.8em;
}

.weather-data h4 {
  font-size: 1.3em;
  padding: 0;
}

.loading {
  width: 100%;
}

.loading > img {
  width: 40px;
  margin-top: 80px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(10,10,10,.8);
  color: white;
  padding: 0;
}